<% if @vehicle.errors.any? %>
<h2>The following errors prevented the vehicle from getting created</h2>
  <ul>
    <% @vehicle.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<div class="w3-container">
  <%= form_for @vehicle do |f| %>
    <p>
      <%= f.label :make %> <br/>
      <%= f.text_field :make %>
    </p>
    <p>
      <%= f.label :model %> <br/>
      <%= f.text_field :model %>
    </p>
    <p>
      <%= f.label :year %> <br/>
      <%= f.text_field :yr %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <%end%>
</div>

<button class="w3-button w3-round-large w3-green"><%= link_to "Back to vehicles listing", vehicles_path %></button>