<h1>Showing selected Vehicle</h1>
<div class="container">
  <p>
    Make: <%= @vehicle.make %>
  </p>
  <p>
    Model: <%= @vehicle.model %>
  </p>
  <p>
    Year: <%= @vehicle.yr %>
  </p>
  <p><button class="btn btn-black">Fetch MPG</button> </p>
  <button class="btn brn-success"><%= link_to "Edit this vehicle", edit_vehicle_path(@vehicle) %></button>
  <button class="btn brn-success"><%= link_to "Back to vehicles listing", vehicles_path %></button>
</div>
