<p id="notice"><%= notice %></p>
<h1>Places</h1>
<table class="w3-table-all w3-hoverable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.name %></td>
        <td><%= place.latitude %></td>
        <td><%= place.longitude %></td>
        <td><button class="w3-button w3-round-large w3-black"><%= link_to 'Show', place %></button></td>
        <td><button class="w3-button w3-round-large w3-black"><%= link_to 'Edit', edit_place_path(place) %></button></td>
        <td><button class="w3-button w3-round-large w3-red"><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<button class="w3-button w3-round-large w3-green"><%= link_to 'New Place', new_place_path %></button>
