<p id="notice"><%= notice %></p>
<h1>Places</h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.name %></td>
        <td><%= place.latitude %></td>
        <td><%= place.longitude %></td>
        <td><button class="btn btn-primary btn-sm"><%= link_to 'Show', place %></button></td>
        <td><button class="btn btn-primary btn-sm"><%= link_to 'Edit', edit_place_path(place) %></button></td>
        <td><button class="btn btn-danger btn-sm"><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
<%= will_paginate @places %>
</div>
<div class="col">
  <%= tag.div nil, id: "map", data: {places: @places.to_json(methods: [:address]) } %>
</div>
<br>
<button class="btn btn-success"><%= link_to 'New Place', new_place_path %></button>
