<!DOCTYPE html>
<html>
  <head>
    <title>Traveler</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name='turbolinks-visit-control' content='reload'>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['google_maps_api_key']}", "application", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield(:head_tags) %>
  </head>
  <body>
    <%= render 'messages' %>
    <div class='page_content'>
      <%= render 'navbar' %>
      <section>
        <%= render 'sidebar' %>
        <%= yield() %>
      </section>
    </div>
  </body>
</html>
